body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
  }

.df{
	display: flex;
}

.jcsb{
	justify-content: space-between;
}
.App{
	border: 1px solid rgb(162, 154, 154);
	padding: 10px;
	border-radius:10px;
	max-width: 1500px;
	margin: 0 auto;
}